:root { 
    --primary: #f8f7ff; 
    --secondary: #c6a6f2;
    --ternary: #af82ed; }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: all 0.2s ease;
}
body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.body{
    padding: 11px;
    background-color:var(--primary); 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#title{
    text-align: center;
    color: var(--primary);
}
.container{
    background-color: var(--secondary);
    border: 1px solid var(--ternary);
    border-radius: 20px;
    /* min-width: 20%; */
    padding: 20px;
    display: flex;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.search{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    z-index: 10000000;
}
.searchUser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.result{
    min-width: 100%;
    display: none;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
#cross{
    margin:-85px;
}
.invalid{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.details{
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
}
.info{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    flex-direction: column;
}
.image{
    border-radius: 50%;
    background: center center/cover;
    overflow: hidden;
    width:100px;
    height:100px;
}
input{
    border:none;
    padding: 8px;
    border-radius: 20px;
}
#btn{
    cursor :pointer;
    transition: all 0.2s ease;
}
button{
    border:none;
    padding: 8px;
    border-radius: 20px;
    cursor :pointer;
    transition: all 0.2s ease;
}
.hvr:hover{
    background-color:var(--ternary);
}
@media (max-width:597px)
{
    .result{
        flex-direction: column;
        gap:20px;
    }
}